
  
  
/*--------------------------------------
 *
 * G L O B A L
 *
 *--------------------------------------*/
html {
	margin: 0;
	/* setting border: 0 hoses ie6 win window inner well border */
	padding: 0;
	height:100%;
	}

body {
	font: 62.5% "lucida grande", Tahoma, Verdana, Arial, Helvetica, sans-serif; /* Resets 1em to 10px */
	color: #323232 !important;
	background: #FFF;
	text-align: center;
	margin: 0 0 30px;
	}

img {
	border: none;
	}
  
  
/*--------------------------------------
 *
 * T O P   M E N U
 *
 *--------------------------------------*/
div.torrent_global_menu {
	width: 100%;
	height: 75px;
	margin: 0;
	background: transparent url('../images/graphics/menu_bg.gif') repeat-x;
	position: fixed; 
	left: 0; 
	right: 0; 
	top: 0; 
	z-index: 2;
	}  

div.torrent_global_menu h1 {
	height: inherit;
	width: 205px;
	text-indent: -9000px !important;
	padding: 0;
	margin: 0 0 0 5px;
	}  

div.torrent_global_menu ul {
	width: 100%;
	height: 50px;
	margin: 0;
	padding: 0;
	text-align: left;
	}

div.torrent_global_menu ul li {
	list-style-type: none;
	list-style-image: none;
	float: left;
	padding: 0;
	margin: 15px 0 0 0;
	vertical-align: middle;
	height: 50px;
	}

div.torrent_global_menu ul li#filter,
div.torrent_global_menu ul li#inspector {
	float: right;
	}

div.torrent_global_menu ul li#inspector {
	margin: 15px 10px 0 0; /* Need to move this away from the edge to stop strange scrollbar prob when clicked */
	}

div.torrent_global_menu ul li a {
	color: #030303;
	font-size: 1.1em;
	text-decoration: none;
	padding: 36px 10px 0 10px;
	display: block;
	margin: 0;
	}

div.torrent_global_menu ul li#open a {
	background: transparent url('../images/buttons/open.png') no-repeat 10px 0px ;
	}

div.torrent_global_menu ul li#open a:active {
	background: transparent url('../images/buttons/open_on.png') no-repeat 10px 0px !important;
	}

div.torrent_global_menu ul li#remove a {
	background: transparent url('../images/buttons/remove.png') no-repeat 16px 0px ;
	}

div.torrent_global_menu ul li#remove a:active {
	background: transparent url('../images/buttons/remove_on.png') no-repeat 16px 0px !important;
	}

div.torrent_global_menu ul li#resume_selected a{
	background: transparent url('../images/buttons/resume_selected.png') no-repeat 19px 0px ;
	}

div.torrent_global_menu ul li#resume_selected a:active {
	background: transparent url('../images/buttons/resume_selected_on.png') no-repeat 19px 0px !important;
	}

div.torrent_global_menu ul li#pause_selected a {
	background: transparent url('../images/buttons/pause_selected.png') no-repeat 10px 0px ;
	}

div.torrent_global_menu ul li#pause_selected a:active {
	background: transparent url('../images/buttons/pause_selected_on.png') no-repeat 10px 0px !important;
	}

div.torrent_global_menu ul li#pause_all a {
	background: transparent url('../images/buttons/pause_all.png') no-repeat 19px 0px ;
	}

div.torrent_global_menu ul li#pause_all a:active {
	background: transparent url('../images/buttons/pause_all_on.png') no-repeat 19px 0px !important;
	}

div.torrent_global_menu ul li#resume_all a {
	background: transparent url('../images/buttons/resume_all.png') no-repeat 25px 0px ;
	}

div.torrent_global_menu ul li#resume_all a:active {
	background: transparent url('../images/buttons/resume_all_on.png') no-repeat 25px 0px !important;
	}

div.torrent_global_menu ul li#filter a {
	background: transparent url('../images/buttons/filter.png') no-repeat 8px 0px ;
	}

div.torrent_global_menu ul li#filter a:active {
	background: transparent url('../images/buttons/filter_on.png') no-repeat 8px 0px !important;
	}

div.torrent_global_menu ul li#inspector a {
	background: transparent url('../images/buttons/info.png') no-repeat 18px 0px ;
	}

div.torrent_global_menu ul li#inspector a:active {
	background: transparent url('../images/buttons/info_toolbar_on.png') no-repeat 18px 0px !important;
	}

div.torrent_global_menu ul li.divider {
	background: transparent url('../images/graphics/menu_divider.png') no-repeat top right;
	margin: 17px 0 0 0;
	}
	
	
/*--------------------------------------
 *
 * G L O B A L   D E T A I L S
 *
 *--------------------------------------*/
div.torrent_global_details {
	width:100%;
	height: 21px;
	margin: 0;
	background: transparent url('../images/graphics/status_bar_background.png') repeat-x;
	font-size: 1.3em;
	font-weight: normal;
	border-top: 1px solid #979797;
	border-bottom: 1px solid #979797;
	position: fixed; 
	left: 0; 
	right: 0; 
	top: 75px; 
	z-index: 2;
	color: #222;
	}	

div.torrent_global_details div {
	padding: 0 10px 0 10px;
	margin: 2px 0 0 0;
	}	

div.torrent_global_details div#torrent_global_transfer {
	clear: left;
	float: left;
	}

div.torrent_global_details div#torrent_global_upload, 
div.torrent_global_details div#torrent_global_download {
	float: right;
	}	

div.torrent_global_details div#torrent_global_upload {
	background: transparent url('../images/graphics/status_bar_divider.png') no-repeat 0px 2px;
	}
  
  
/*--------------------------------------
 *
 * T O R R E N T   F I L T E R   B A R
 *
 *--------------------------------------*/
div#torrent_filter_bar {
	margin: 0;
	height: 24px;
	background: #C0C8D6 url('../images/graphics/filter_bar_bg.png') repeat-x;
	border-bottom: 1px solid #979797;
	position: fixed; 
	left: 0; 
	right: 0px; 
	top: 98px; 
	z-index: 2;
	}
	
div#torrent_filter_bar a {
	float: left;
	font-size: 1.2em;
	/*color: #65789A;*/
	color: #4E4E4F;
	text-decoration: none;
	font-weight: bold;
	padding: 0 5px 0 10px;
	margin: 5px 0 0 0;
	}
	
div#torrent_filter_bar a.active {
	color: #4E4E4F;
	}
	
div#torrent_filter_bar input#torrent_search {
	float: right;
	height: 15px;
	width: 100px;
	border:solid 0 #fff;
	margin: 3px 5px 0 0;
	}
 
 
/*--------------------------------------
 *
 * T O R R E N T   C O N T A I N E R
 *
 *--------------------------------------*/
div#torrent_container {
	position: fixed;
	top: 122px;
	bottom: 22px;
	right: 0px;
	left: 0px;
	padding:0px;
	margin: 0px;
	overflow: auto;
}

ul.torrent_list {
	width: 100%;
	margin: 0;
	padding: 0;
	text-align: left;
}

ul.torrent_list li {
	list-style-type: none;
	list-style-image: none;
	clear: both;
	display: block;
	padding: 0;
	margin: 0;
	vertical-align: middle;
	-moz-user-select: none;
	}
	
ul.torrent_list li.torrent {
	border-bottom: 1px solid #ccc;
	padding: 3px 16px 3px 10px; /* Make space for buttons on the right */
	margin: 0;	
	}

	
ul.torrent_list li.torrent.even {
	background-color: #EDF3FE;
	}

	
ul.torrent_list li.torrent.selected {
	background-color: #3875D7;
	color: #FFF;
	}
	
ul.torrent_list li.torrent div.torrent_name {
	font-size: 1.3em;
	font-weight: bold;
	}
	
ul.torrent_list li.torrent div.torrent_progress_details,
ul.torrent_list li.torrent div.torrent_peer_details {
	font-size: 1.1em;
	}
	
ul.torrent_list li.torrent div.torrent_progress_bar.complete {
	background: transparent url('../images/progress/complete.png') repeat-x;
	border: 1px solid #29AD35;
	}
	
ul.torrent_list li.torrent div.torrent_progress_bar.in_progress {
	background: transparent url('../images/progress/in_progress.png') repeat-x;
	border: 1px solid #3F79EE;
	border-right: transparent;
	}
	
ul.torrent_list li.torrent div.torrent_progress_bar.incomplete {
	background: transparent url('../images/progress/incomplete.png') repeat-x;
	border: 1px solid #C8CACD;
	border-left: transparent;
	}
	
ul.torrent_list li.torrent div.torrent_progress_bar.incomplete_stopped {
	background: transparent url('../images/progress/incomplete_stopped.png') repeat-x;
	border: 1px solid #939393;
	border-right: transparent;
	}
	
ul.torrent_list li.torrent div.torrent_progress_bar.complete_stopped {
	background: transparent url('../images/progress/complete_stopped.png') repeat-x;
	border: 1px solid #939393;
	}
	
ul.torrent_list li.torrent div.torrent_progress_bar {
	height: 10px;
	margin: 3px 0 3px 0;
	float:left;
	line-height: 1px;
	font-size:1px;
	width: 100%;
	}	

ul.torrent_list li.torrent a {
	float: right;
	position: relative;
	right: -12px;
	top: -16px;
	padding: 0 0px 0 2px;
	}
  
  
/*--------------------------------------
 *
 * T O R R E N T   I N S P E C T O R
 *
 *--------------------------------------*/

div#torrent_inspector {
	position: fixed;
	top: 98px;
	right: 0px;
	bottom: 22px;
	width: 300px;
	background-color: #ddd;
	border-left: #aaa 1px solid;
	z-index: 2;
	text-align: left;
	}
	
div#torrent_inspector h1#torrent_inspector_name {
	font-size: 1.4em;
	margin: 0;
	padding: 5px 0 0 5px;
	}
	
div#torrent_inspector span#torrent_inspector_size {
	font-size: 1.2em;
	margin: 0;
	padding: 5px 0 0 5px;
	}
	
div#torrent_inspector ul.torrent_inspector_tabs {
	margin: 0 0 0 88px; /* Center tabs */
	padding: 0;
	}
	
/* Force anything after the menu to display on a new line -
   looks like overkill, maybe an easier way to do this */
div#torrent_inspector ul.torrent_inspector_tabs:after {
	content: ".";
	display: block;
	height: 0;
	font-size:0;
	clear: both;
	visibility:hidden;
	}
	
div#torrent_inspector ul.torrent_inspector_tabs li {
	float: left;
	list-style-type: none;
	}
	
div#torrent_inspector ul.torrent_inspector_tabs li a {
	display: block;
	margin: 10px -1px 3px 0; /* Collapse horizontal borders */
	padding: 5px;
	background-color: #EEE;
	border: 1px solid #787878;
	width: 50px;
	text-align: center;
	font-weight: bold;
	text-decoration: none;
	color: #323232;
	cursor: pointer;
	}
	
div#torrent_inspector ul.torrent_inspector_tabs li a.selected {
	background: #C0C8D6 url('../images/graphics/filter_bar_bg.png') repeat-x;
	}
	
div#torrent_inspector div.torrent_inspector_section h2 {
	border-top: 1px solid #888;
	font-size: 1.1em;
	margin: 5px 5px 0 5px;
	padding: 2px 0 2px 0;
	}
	
div#torrent_inspector div.torrent_inspector_section label {
	margin: 0px 3px 0 10px;
	width: 75px;
	display: block;
	float: left;
	}
	
div#torrent_inspector div.torrent_inspector_section div {
	height: 17px;
	width: 210px;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	}
	

/*--------------------------------------
 *
 * T O R R E N T   F O O T E R
 *
 *--------------------------------------*/
 
 div.torrent_footer {
 	width: 100%;
 	height: 22px;
 	margin: 0;
 	padding: 0;
	border-bottom: 1px solid #979797;
	border-top: 1px solid #979797;
	background: #E6E6E6 url('../images/graphics/footer_bg.png') repeat-x; 
	position: fixed; 
	left: 0px; 
	right: 0px;	
	bottom: -1px; 
	z-index: 2;
 	}
 
 div.torrent_footer a {
 	border-right: 1px solid #979797;
 	width: 30px;
 	height: inherit;
 	margin: 0 1px 0 0;
 	padding: 0;
 	float: left;
 	}
 
 div.torrent_footer a img {
	display: none;
 	border: none;
 	border-right: 1px solid #979797;
 	}

div.torrent_footer a#speed_limit_button {
	height: 22px;
 	width: 30px;
	background: transparent url('../images/buttons/footer_speed_limit_button.png') no-repeat top left;
	}

div.torrent_footer a#speed_limit_button:active {
	background: transparent url('../images/buttons/footer_speed_limit_button_on.png') no-repeat top left;
	}

div.torrent_footer a#global_settings_button {
	height: 22px;
 	width: 30px;
	background: transparent url('../images/buttons/footer_action_button.png') no-repeat top left;
	}


/*--------------------------------------
 *
 * D I A L O G S
 *
 *--------------------------------------*/
div#dialog_container,
div#upload_container {
	position: absolute;
	top: 0px;
	left: 0px;
	margin: 0px;
	width: 100%;
	height: 100%;
	z-index: 3;
	text-align: center;
	}
	
div#dialog_container div.dialog_top_bar,
div#upload_container div.dialog_top_bar {
	text-align: center;
	background: #DBDBDB url('../images/graphics/dialog_top.png') no-repeat; 
	margin: 15px auto 0 auto;
	width: 426px;
	height: 4px;
	}
	
div#dialog_container div#dialog_window,
div#upload_container div#dialog_window {
	background-color: #DBDBDB;
	width: 420px;
	height: 135px;
	margin: -3px auto 0 auto;
	filter:alpha(opacity=95);
	-moz-opacity:.95;
	opacity:.95;
	border: 1px solid #B5B5B5;
	border-top: none;
	text-align: left;
	}
	
div#dialog_container div#dialog_window img,
div#upload_container div#dialog_window img {
	margin: 20px 20px 0 20px;
	float: left;
	}
	
div#dialog_container div#dialog_window h2#dialog_heading,
div#upload_container div#dialog_window h2#dialog_heading {
	display: block;
	float: left;
	width: 305px;
	}
	
div#dialog_container div#dialog_window div#dialog_message,
div#upload_container div#dialog_window div#dialog_message {
	float: left;
	width: 305px;
	height: 55px;
	}
	
div#dialog_container div#dialog_window a,
div#upload_container div#dialog_window a {
	display: block;
	float: right;
	margin: 5px 10px 0 0;
	padding: 5px;
	background-color: #EEE;
	border: 1px solid #787878;
	width: 50px;
	text-align: center;
	font-weight: bold;
	text-decoration: none;
	color: #323232;
	}
	
div#dialog_container div#dialog_window a:hover,
div#dialog_container div#dialog_window a:active,
div#upload_container div#dialog_window a:hover,
div#upload_container div#dialog_window a:active {
	background: #C0C8D6 url('../images/graphics/filter_bar_bg.png') repeat-x;
	}
	
div#upload_container div#dialog_window div#dialog_message input {
	margin: 5px 0 0 0;
	padding: 1px;
	background-color: #EEE;
	border: 1px solid #787878;
	display: block;
	}
	
div#upload_container div#dialog_window form {
	margin: 0px;
	padding: 0px;
	}
	
iframe#torrent_upload_frame {
	display: none;
	position: absolute;
	top: -1000px;
	left: -1000px;
	width: 0px;
	height: 0px;
	border: none;
	padding: 0;
	margin: 0;
	}
	






